<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {# connexion google font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        {# google fonts #}
        <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

        <link rel="icon" href="">
        <link href="assets\css\header.css" rel="stylesheet">

        {% if app.user %}
            <div class="container_navbar_disconnect">
                <div class="empty1"></div>
                <div class="img"><img href="{{path('app_accueil')}}" class="logo-img" src="../assets/img/logos/1tr.png"></div>
                <div class="empty2"></div>
                <div class="btn-accueil"><a href="{{path('app_accueil')}}">Accueil</a></div>
                <div class="empty3"></div>
                <div class="btn-produits"><a {#href="{{path('app_produits')}}"#} >Produits</a></div>
                <div class="empty4"></div>
                <div class="btn-prestation"><a {#href="{{ path('app_prestation', { 'condition': 'affichage1' }) }}"#} >Prestation</a></div>
                <div class="empty5"></div>
                <div class="btn-avis"><a {#href="{{path('app_avis')}}"#} >Avis</a></div>
                <div class="empty6"></div>
                <div class="btn-contact"><a {#href="{{path('app_contact')}}"#} >Contact</a></div>
                <div class="empty7"></div>
                <div class="deconnexion"><a href="{{path('app_logout')}}" >Déconnexion</a></div>
                <div class="empty8"></div>
            </div>
        {% else %}
            <div class="container_navbar_connect">
                <div class="empty1"></div>
                <div class="img"><img href="{{path('app_accueil')}}" class="logo-img" src="../assets/img/logos/1tr.png"></div>
                <div class="empty2"></div>
                <div class="btn-accueil"><a href="{{path('app_accueil')}}">Accueil</a></div>
                <div class="empty3"></div>
                <div class="btn-produits"><a {#href="{{path('app_produits')}}"#} >Produits</a></div>
                <div class="empty4"></div>
                <div class="btn-prestation"><a {#href="{{ path('app_prestation', { 'condition': 'affichage1' }) }}"#} >Prestation</a></div>
                <div class="empty5"></div>
                <div class="btn-avis"><a {#href="{{path('app_avis')}}"#} >Avis</a></div>
                <div class="empty6"></div>
                <div class="btn-contact"><a {#href="{{path('app_contact')}}"#} >Contact</a></div>
                <div class="empty7"></div>
                <div class="connexion"><a href="{{path('app_login')}}" >Connexion</a></div>
                <div class="empty8"></div>
                <div class="inscription"><a href="{{path('app_register')}}" >Créer un compte</a></div>
                <div class="empty9"></div>
            </div>
        {% endif %}

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
