{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<link rel="stylesheet" href="../assets/css/register.css">  {# Utilisation du même fichier CSS #}

<h1 class="agbalumo600 boir">Connexion</h1>

<form method="post">
    <!-- Affichage des erreurs -->
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <!-- Vérification si l'utilisateur est déjà connecté -->
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <div class="container_register">
        <!-- Email -->
        <div class="txt-mail">
            <label for="inputEmail" class="form-label">Email</label>
        </div>
        <div class="input-mail">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-input" autocomplete="email" required autofocus>
        </div>

        <!-- Password -->
        <div class="txt-mdp">
            <label for="inputPassword" class="form-label">Password</label>
        </div>
        <div class="input-mdp">
            <input type="password" name="password" id="inputPassword" class="form-input" autocomplete="current-password" required>
        </div>

        <!-- CSRF Token -->
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <!-- Submit Button -->
        <div class="bouton">
            <button class="btn_acc inter400" type="submit">Sign in</button>
        </div>
    </div>
</form>
{% endblock %}
